---
layout: archive
author_profile: true
---


<h1 class="archive__title">{{ site.data.ui-text[site.locale].about | default: "About" }}</h1>

Hello! José here, I'm a junior developer that hails all the way from Spain to Austria in a search for knowledge and new challenges. After wrapping up my studies back in Spain and acquiring formal work experience for a year, I decided to chase something bigger so I decided to grab my suitcases and set sail to Austria. As of right now I'm trying my best to come to terms German, and share a roof with three rascally woofs. Currently I'm working on two passion projects: one using Unity and the other using Renpy, to get better at those prospective technologies and to share some fun with the world.

<hr>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
